/* Fonts */
@font-face {
  font-family: "pixeled";
  src: url(../fonts/Pixeled.ttf);
}
@font-face {
  font-family: "dstype";
  src: url(../fonts/DSType.otf);
}
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dstype, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #595957;
}

/* Estilos para Header*/
nav {
  background-color: #333331;
}
/* Estilos para Footer */
footer {
  padding: 20px 0;
  margin: 20px 0 0 0;
  background-color: #333331;
  display: block;
  text-align: center;
}
footer .followus {
  text-align: center;
  color: #dfdfdf;
  font-weight: 800;
}
footer ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  color: #dfdfdf;
}
footer ul a {
  color: inherit;
  text-decoration: none;
}
footer li {
  padding-right: 10px;
  padding-right: 10px;
  text-decoration: none;
}
footer div a {
  margin: 10px;
  font-size: 24px;
}
footer i {
  text-align: center;
  color: #dfdfdf;
  left: 300px;
}
footer i:hover {
  color: #b77195;
}
footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #dfdfdf;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  footer ul {
    font-size: 12px;
  }
}

/* Estilos MArketplace*/
#body-mk {
  background-color: #dfdfdf;
}

#main_marketplace {
  width: auto;
}
#main_marketplace video {
  width: 50%;
}
#main_marketplace h3 {
  color: #595957;
  font-size: 30px;
}

h6 {
  color: #595957;
  font-size: 60px;
  margin: 20px;
}

#section01_market {
  background-color: #b77195;
  width: 90%;
  border-radius: 20px;
  padding: 20px;
}

#section02_market {
  background-color: #f6a862;
  width: 90%;
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 401px) {
  #section01_market .video-mk {
    height: auto;
    width: 80%;
  }
  #section02_market .video-mk {
    height: auto;
    width: 80%;
  }
  h6 {
    font-size: 30px;
  }
}
/*media querrie - mobile first*/
@media only screen and (min-width: 992px) {
  #main_marketplace {
    width: auto;
    background-color: #dfdfdf;
  }
  #main_marketplace img {
    width: 400px;
  }
  #main_marketplace h3 {
    font-size: 48px;
  }
}
